{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Soft Rolls</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>Soft rolls are little clouds of bread that are delicious by themselves, with butter, or as hamburger rolls.</p>
<p>These rolls take a much shorter time to make than traditional breads (with long proofing times), so they are perfect for making during the week.</p>
<p>I've stopped buying hamburger rolls from the grocery store, as I always use these soft rolls to make hamburgers.</p>
<p>A soft roll with strawberry jam is perfect for breakfast the next morning after making a batch of these delicious rolls!</p>
<p>This recipe is inspired by this Bigger Bolder Baking recipe: <a href="https://www.biggerbolderbaking.com/dinner-rolls-1-hour/">Dinner Rolls</a>.</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/soft_rools.jpg') }}"  alt="Soft Rolls" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>Since this recipe uses active dry yeast, make sure to bloom the yeast in warm water (90-100 degrees Fahrenheit (F)).</p>
<p>The proofing times for these rolls are very short, so make sure to include sugar when blooming the yeast to jump-start it.</p>
<p>When placing the dough balls onto a baking sheet (with parchment paper), leave about 2 centimeters (cm) between the dough balls, as they will expand during the final proof.  They should be slightly touching when they go into the oven.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
    <li>4 cups of All-Purpose Flour</li>
    <li>1 Tablespoon of Active Dry Yeast</li>
    <li>2 Tablespoons of Sugar</li>
    <li>1 Teaspoon of Salt</li>
    <li>2 Tablespoons of Butter (melted)</li>
    <li>1.5 Cups of Warm Water (90-100 degrees Fahrenheit (F))</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
    <li>...</li>
</ol>
{% endblock %}
